* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #282c34;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {

    list-style: none;
    margin: 0 23px;
}

a {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
}

a:before,
a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    /* background-color: #18f08b; */
    background-color: #ff004f;
    transition: 0.5s;
}

a:after {
    left: 0;
    bottom: -10px;
}

a:before {
    right: 0;
    top: -10px;
}

a:hover {
    color: #ffffff;
}

a:hover:after,
a:hover:before {
    width: 100%;
}

/* Default styles for the left section */
.left {
    color: white;
    font-size: 1.5rem;
}

#left {
    color: #ff004f;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.first-section div {
    width: 35%;
    height: 0;
    /* Add this line to set the height */
    padding-bottom: 35%;
    /* Maintain a 1:1 aspect ratio for the div */
    position: relative;
    /* margin: 8vh; */
}

.left-section {
    font-size: 2rem;
}

.first-section div #profile-image {
    position: absolute;
    /* Position the image within the div */
    width: 100%;
    /* Make the image take up the entire div */
    height: 100%;
    /* Make the image take up the entire div */
    border-radius: 50%;
    /* Create a circular shape */
    object-fit: cover;
    /* Preserve aspect ratio */
}

#developer-type {
    color: #ff004f;
}

#quote-scession {
    font-size: 0.8rem;
    color: #9e9e9e;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    min-height: 85vh;
    background-color: #d12158;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 45vh;
    max-height: 60vh;
    padding: 2rem;
    background-color: black;
    margin-bottom: 1rem;
    /* Add margin to create space between card and buttons */
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    margin: 0 1rem;
    /* Add some horizontal spacing between buttons */
}

.card img {
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.features {
    font-size: 0.7rem;
}



#developer-type {
    color: #ff004f;
}

#quote-scession {
    font-size: 0.8rem;
    color: #9e9e9e;
}

.second-section {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 85vh;
}

.left-second-section,
.right-second-section {
    flex: 1;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    /* Align content to the left */
}

/* #exp, */
#edu,
#skill {
    display: none;
}

ul {
    list-style-type: none;
}

.logo-link {
    display: inline-block;
    position: relative;
    /* overflow: hidden; */
}

#logo {
    height: 1.5rem;
    width: auto;
    padding: 0.1rem;
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.logo-link:hover #logo {
    transform: translateY(-5px) scale(1.1);
}

.heading-bar {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically *
    /* Center horizontally */
    text-align: center;
    /* Center text content */
    margin: auto;
    padding: 2rem;
    font-size: 2rem;
    justify-content: center;
}

.input,
.personal-info {
    flex: 1;
    padding: 2rem;
}

#fourth-section {
    display: flex;
    min-height: 85vh;
    /* background-color: #222222; */
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.5rem;
    color: #9b9b9b;
}

.form__field:focus {
    /* padding-bottom: 6px; */
    font-weight: 200;
    border-width: 3px;
    border-image: linear-gradient(to right, #ff004f, #d12158);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ff004f;
    font-weight: 200;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


.submit {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.submit:hover,
.submit:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.submit:active {
    opacity: .5;
}

.second-section li {
    padding-bottom: 1rem;
}

@media screen and (max-width:600px) {
    body {
        overflow-x: hidden;
        font-size: 1.5rem;
    }

    nav {
        height: 30px;
    }

    nav ul li {
        font-size: 1rem;
        list-style: none;
        margin: 0 10px;
    }

    .left {
        display: none;
    }

    .first-section {
        flex-direction: column-reverse;
        margin: 2rem;
    }

    .left-section,
    .right-section {
        width: 100%;
        font-size: 0.9rem;
        margin: 0.7rem;
    }

    .left-section {
        padding-left: 4rem;
    }

    #quote-scession {
        font-size: 0.7rem;
    }

    .first-section div {
        width: 50%;
        padding-bottom: 50%;
    }

    .left-second-section {
        display: none;
    }

    .wrapper {
        min-height: 60vh;
        width: auto;
    }

    .card {
        max-width: 20vh;
        max-height: 30vh;
        padding: 2rem;
        background-color: black;
        margin-bottom: 1rem;
        /* Add margin to create space between card and buttons */
    }

    .submit {
        font-size: 12px;
        /* Adjust font size for smaller screens */
        padding: 8px 10px;
        /* Adjust padding for smaller screens */
    }

    .heading-bar {
        font-size: 1.5rem;
        padding: 1rem;
    }

    #fourth-section {
        flex-direction: column;
    }

    .input {
        padding: 1rem;
        min-height: auto;
    }

    .form__group {
        padding: 10px 0 0;
        margin-top: 5px;
    }

    .form__field {
        font-size: 1.1rem;
        padding: 5px 0;
    }

    .form__label {
        font-size: 0.4rem;
    }

    .personal-info {
        font-size: 0.9rem;
    }

    .first-section div #profile-image {
        position: absolute;
        /* Position the image within the div */
        width: 80%;
        /* Make the image take up the entire div */
        height: 80%;
    }

}